{{#partial "content"}}

    <h2>Endangered Details</h2>

    <p>EndangeredName:{{EndangeredName}}</p>
    <p>Health:{{Health}}</p>
    <p>Age:{{Age}}</p>
    <p>IdEndangered:{{IdEndangered}}</p>


{{/partial}}

{{> layout.hbs}}
