{{#partial "content"}}
<body>
    <h2>Endangered Details</h2>

    <p>EndangeredName:{{EndangeredName}}</p>
    <p>Health:{{Health}}</p>
    <p>Age:{{Age}}</p>
    <p>IdEndangered:{{IdEndangered}}</p>
</body>

{{/partial}}
<style>
    body{
    background-image:url('https://picsbroker.com/wp-content/uploads/2018/01/Wild-Animals-Wallpaper-HD-8.jpg');
       background-repeat:no-repeat;
    background-size:cover;
    }
</style>
{{> layout.hbs}}
