{{#partial "content"}}
<body>
 <h2>Animal Details</h2>

 <p>Ranger Name:{{RangerName}}</p>
 <p>Location:{{Location}}</p>
 <p>AnimalId:{{AnimalId}}</p>
</body>

{{/partial}}
<style>
    body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDyGtVc2fgKndOxPFhukdDEjQR4Q1Db4VdiJu4vimTZwM7B4sL');
      background-repeat:no-repeat;
    background-size:cover;
    }
</style>
{{> layout.hbs}}
