
{{#partial "content"}}
<body>
    <a href="/animals">view list</a>
</body>
{{/partial}}
<style>
    body{
    background-image:url('http://hd.wallpaperswide.com/thumbs/wild_animal-t2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    }
</style>
{{> layout.hbs}}