{{#partial "content"}}

    <h1>Add a new model.Sighting!</h1>

    <form action="/Sightings/new" method="model.Sighting">
        <label for="rangerName">model.Sighting String rangername</label>
        <input id="one1" name="Rangername" type="text">


        <label for="location">model.Sighting String location</label>
        <input id="three1" name="Location" type="text">

        <button type="submit" class="btn btn-default">Go!</button>
    </form>

{{/partial}}

{{> layout.hbs}}