
<h1 id="header">WILDLIFE TRACKER</h1>
<hr>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

            <h1 class="top">ANIMAL</h1>
            <form action="/details" method="post">
                <div class="form-group">
                    <label>Name</label><br>
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="">
                </div>

                <button class="btn btn-primary" type="submit">submit
                    <span class="glyphicon glyphicon-plus"></span></button>
            </form>
            <style>
    body{
    background-image:url('http://starkovtattoo.spb.ru/images/700/DSC100788065.jpg');
      background-repeat:no-repeat;
    background-size:cover;
    }
</style>
            <a href="/endangered">endangered form</a>


</body>





