<body>
<div id="h-1">
    <h3>WELCOME TO WILDLIFE TRACKER</h3>
</div>
<div class="text-center">

    <a href="/homepage" class="btn btn-success">Click Here to Get Started</a>
</div>
</body>
<style>
    body{
    background-image:url('https://i.pinimg.com/originals/15/5a/7c/155a7c593f1524381d0b2df08b291ae8.jpg');
    }
</style>