{{#partial "content"}}
<body>
    <form action="sighting" method="post">
    <h1 class="top">Sighting</h1>

    <div class="form-group">
        <label>RangerName</label><br>
        <input type="text" id="RangerName" name="RangerName" class="form-control" placeholder="">
    </div><br>

    <div class="form-group">
        <label>Location</label><br>
        <input type="text" id="Location" name="Location" class="form-control" placeholder="">
    </div><br>
    <div class="form-group">
        <label>AnimalId</label><br>
        <input type="text" id="AnimalId" name="AnimalId" class="form-control" placeholder="">
    </div><br>
         <button class="btn btn-primary" type="submit">submit
        <span class="glyphicon glyphicon-plus"></span></button>
     </form>
</body>
{{/partial}}
<style>
    body{
    background-image:url('https://c4.wallpaperflare.com/wallpaper/121/838/467/art-artistic-graphic-design-wallpaper-preview.jpg');
      background-repeat:no-repeat;
    background-size:cover;
    }
</style>
{{> layout.hbs}}
